<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom ">
    <div class="container px-4 px-lg-5  ">
        <a class="navbar-brand font-monospace fs-2 fw-bold fw-lighter fs-5 py-0" href="{{ path('app_home') }}">KGB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-evenly" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active me-5">
                    <a class="nav-link font-monospace fw-lighter fs-5" href="{{ path('app_mission') }}">Nos Missions</a>
                </li>


                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item me-5">
                            <a class="nav-link font-monospace text-danger fw-lighter fs-5"
                               href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                        <li class="nav-item me-5" href="#">
                            <a class="nav-link font-monospace text-info fw-lighter fs-5" href="{{ path('admin') }}">Revenir
                                à l'administration</a>
                        </li>
                        <li class="nav-item me-5" href="#">
                            <a class="nav-link font-monospace text-warning fw-lighter fs-5">{{ app.user.email }}</a>
                        </li>

                    {% elseif is_granted('ROLE_CONSULTANT') %}
                        <li class="nav-item me-5">
                            <a class="nav-link font-monospace text-danger fw-lighter fs-5"
                               href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                        <li class="nav-item me-5" href="#">
                            <a class="nav-link font-monospace text-info fw-lighter fs-5" href="{{ path('admin') }}">Revenir
                                à l'administration</a>
                        </li>
                        <li class="nav-item me-5" href="#">
                            <a class="nav-link font-monospace text-warning fw-lighter fs-5">{{ app.user.email }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link font-monospace fw-lighter fs-5" href="{{ path('app_login') }}">Se
                                connecter</a>
                        </li>

                    {% endif %}
            </ul>
        </div>
    </div>
</nav>