<div class="bg-black  d-flex flex-column justify-content-center align-items-end p-5">
    <div class="container-md ">
        <h1 class="display-4  text-center text-light pt-1 pb-2">Les Dernieres Missions</h1>

        <div class="row">
            {% for mission in missions %}

                <div class="col-md-6 opacity-50 ">
                    <div class="shadow-card row g-0 rounded bg-secondary overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0 text-light">  {{ mission.title }}</h3>
                            <p class=" mb-0 mt-1 text-danger "><strong> {{ mission.status }} </strong></p>

                            <div class="d-flex justify-content-between">
                                <p class="mb-0 text-dark">Début : {{ mission.startAt | date('d-m-Y') }} </p>
                                <p class="mb-0 text-dark">Fin : {{ mission.EndAt | date('d-m-Y') }} </p>
                            </div>
                            <hr>
                            <p class="card-text mb-auto text-light">{{ mission.description | u.truncate(100, '...', true) }} </p>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p class="card-text mb-auto text-warning "><strong>  {{ mission.type }} </strong></p>
                                <a href=" {{ path('mission_show', {id: mission.id }) }} "
                                   class="btn btn-outline-dark">Lire plus</a>
                            </div>
                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="mb-5">
            {{ knp_pagination_render(missions, 'partials/_pagination.html.twig') }}
        </div>
    </div>

</div>